@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nosifer&display=swap');

* {
  /* border: solid 1px gray; */
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

.Line {
  color: red;
  border: solid 1px red;
}

.hidden {
  display: none;
}

.BGColor {
  background-color: rgba(95, 95, 95, 0.1);
  background-image: url(images/PlanetsFul2000.png);
  background-size: cover;
  background-attachment: fixed;
}

.nav_top h3 {
  color: orangered;
  font-size: 13px;
}

@media (min-width: 991px) {
  ul {
    list-style: none;
  }

  .socials {
    height: 30px;
  }

  .hamburger {
    display: none;
  }

  .MobileMenu {
    display: none;
  }

  .NavTop {
    background-color: rgba(53, 53, 53, 0.8);
    color: white;
  }

  .NavBottom {
    margin-bottom: 10px;
  }

  .Socials {
    margin-right: 2%;
  }

  #FirstPage {
    background-image: url(images/HeaderBackroundblured.jpg);
  }

  .Call {
    padding-top: 10%;
    font-size: 35px;
    line-height: 100%;
    margin: 0;
    color: #ec5242;
  }

  .IntroText {
    padding-top: 1.5%;
    line-height: 100%;
    background: url(images/HeaderBackround.jpg) center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px gray;
    background-clip: text;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 5%;
  }

  .Reflect {
    font-size: 14px;
    line-height: 100%;
    margin: 0;
  }

  .Date {
    padding-top: 4%;
    padding-bottom: 1%;
    font-size: 28px;
    line-height: 100%;
    margin: 0;
    font-weight: 900;
  }

  .Host {
    padding-top: 1%;
    padding-bottom: 10%;
    font-size: 24px;
    line-height: 100%;
    margin: 0;
  }

  #Judgements {
    margin-top: -15px;
  }

  .Program {
    background-image: url(images/bg-dark.png);
  }

  .MobileProgram {
    display: none;
  }

  .Judge {
    margin-top: 2% !important;
    margin-left: 5px;
    background-color: rgba(53, 53, 53, 0.6);
    color: white;
  }
  
  .Aspects {
    padding-top: 2%;
    font-size: 24px;
    color: white;
    text-align: center;
  }

  .PlannedU {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    text-align: center;
  }

  .Planned {
    display: none;
  }

  .TopSix {
    text-align: center;
    padding-left: 3%;
  }

  #MobileFeaturedSpeakers {
    display: none;
  }

  .Image {
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .More {
    display: none;
  }

  .Platform {
    padding-top: 3%;
    padding-left: 5%;
    font-size: 20px;
    color: white;
  }

  .Console {
    padding-top: 5%;
    width: 50px;
    height: 120px;
    padding-bottom: 5%;
    margin-bottom: 12%;
  }

  #FooterTop {
    background-color: rgba(53, 53, 53, 1);
  }

  #FooterBottom {
    margin-top: 4%;
    margin-bottom: 3%;
  }

  .Missions li :hover {
    border: solid 2px white;
  }

  .Missions h2 {
    color: orangered;
  }

  .ACall {
    display: none;
  }

  .AIntroText {
    margin-top: 6%;
    color: #ec5242;
    font-size: 45px;
    text-align: center;
    font-weight: 800;
  }

  .APara {
    margin-top: 6%;
    font-size: 13px;
    text-align: center;
    padding: 2%;
    background-color: white;
    border: solid 1px rgba(95, 95, 95, 0.1);
  }

  .AContact {
    margin-top: 6%;
    font-size: 16px;
    text-align: center;
  }

  .AMail {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
  }

  .ALogo {
    margin-top: 8%;
  }

  .ASee {
    margin-top: 8%;
    font-size: 25px;
    text-align: center;

  }

  .ADuviri {
    font-size: 15px;
    text-align: center;
    margin-bottom: 5%;
  }

  .AImage1 {
    font-size: 27px;
    font-weight: 700;
    color: white;
    padding-top: 10%;
    text-align: center;
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 5%;
    background-image: url(images/poe300.jpg);
    height: 300px;
  }

  .AImage2 {
    font-size: 27px;
    font-weight: 700;
    color: white;
    padding-top: 10%;
    text-align: center;
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 5%;
    background-image: url(images/fortuna300.jpg);
    height: 300px;
  }

  .SubText {
    font-size: 15px;
    font-weight: 200px;
  }

  .ANavBottom {
    color: white;
    font-size: 13px;
  }

  #AFooterTop {
    padding-top: 3%;
    padding-bottom: 2%;
    background-color: rgba(53, 53, 53, 1);
  }

  a {
    color: black !important;
  }

  a:link {
    color: black;
    text-decoration: none;
  }

  .Bnav :hover {
    color: orangered !important;
    border: solid 2px orangered;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  #MobileAFooterTop {
    display: none;
  }

  #AFooterBottom {
    display: none;
  }
}

@media (max-width: 990px) {
  .NavTop {
    display: none;
  }

  .hamburger {
    padding-top: 25px;
  }

  .HamLine1 {
    margin-top: 10px;
    margin-top: 15%;
    border: solid 3px black;
    width: 30px;
    transition: all 50ms;
  }

  .HamLine2 {
    margin-top: 10px;
    margin-top: 15%;
    border: solid 3px black;
    width: 30px;
    transition: all 50ms;
  }

  .HamLine3 {
    margin-top: 10px;
    margin-top: 15%;
    border: solid 3px black;
    width: 30px;
    transition: all 50ms;
  }
  
  .Change1 {
    transform: rotate(45deg);
  }

  .Change2 {
    transform: scale(0, 0);
  }

  .Change3 {
    transform: rotate(-45deg);
    margin-top: -16px;
  }

  .MobileMenu {
    background-color: rgba(53, 53, 53, 1);
    padding-bottom: 2%;
  }

  .MobilePopup {
    font-size: 20px;
    font-weight: 400;
  }

  .NavBottom {
    display: none !important;
  }

  ul {
    list-style: none;
  }

  .socials {
    height: 30px;
  }

  .NavTop {
    background-color: rgba(53, 53, 53, 0.8);
    color: white;
  }

  #FirstPage {
    background-image: url(images/HeaderBackroundblured.jpg);
  }

  .Call {
    padding-top: 10%;
    font-size: 35px;
    line-height: 100%;
    margin: 0;
    color: #ec5242;
  }

  .IntroText {
    padding-top: 1.5%;
    padding-bottom: 10%;
    line-height: 100%;
    background: url(images/HeaderBackround.jpg) center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px gray;
    background-clip: text;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
  }

  .Reflect {
    padding-top: 3%;
    font-size: 14px;
    line-height: 100%;
    margin: 0;
  }

  .Date {
    padding-top: 4%;
    font-size: 28px;
    line-height: 100%;
    margin: 0;
    font-weight: 900;
  }

  .Host {
    padding-top: 1%;
    padding-bottom: 25%;
    font-size: 24px;
    line-height: 100%;
    margin: 0;
  }

  #Judgements {
    margin-top: -15px;
  }

  .MobileProgram {
    background-image: url(images/bg-dark.png);
    padding-bottom: 10%;
  }

  .Program {
    display: none;
  }

  .Judge {
    margin-top: 2%;
    background-color: rgba(53, 53, 53, 0.6);
    color: white;
  }

  .Aspects {
    padding-top: 5%;
    margin-bottom: 2%;
    font-size: 24px;
    color: white;
  }

  .Planned {
    text-align: center;
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    background-color: orangered;
    font-weight: 600;
  }

  .PlannedU {
    display: none;
  }

  #FeaturedSpeakers {
    display: none;
  }

  .More {
    text-align: center;
    border: solid 1px rgba(53, 53, 53, 0.2);
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .Image {
    padding-bottom: 3%;
  }

  .Desc {
    font-size: 13px;
  }

  .Platform {
    padding-left: 5%;
    font-size: 20px;
    color: white;
  }

  .Console {
    width: 50px;
    height: 80px;
    padding-bottom: 5%;
  }

  .Missions li :hover {
    border: solid 2px white;
  }

  .Missions h2 {
    color: orangered;
  }

  .ACall {
    padding-top: 10%;
    font-size: 35px;
    line-height: 100%;
    margin: 0;
    color: #ec5242;
  }

  .AIntroText {
    margin-top: 6%;
    color: #ec5242;
    font-size: 45px;
    text-align: center;
    font-weight: 800;
  }

  .APara {
    margin-top: 6%;
    font-size: 13px;
    text-align: center;
    padding: 2%;
    border: solid 1px rgba(95, 95, 95, 0.2);
  }

  .AContact {
    margin-top: 6%;
    font-size: 16px;
    text-align: center;
  }

  .AMail {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
  }

  .ALogo {
    margin-top: 8%;
  }

  .ASee {
    margin-top: 8%;
    font-size: 25px;
    text-align: center;
  
  }

  .ADuviri {
    font-size: 15px;
    text-align: center;
    margin-bottom: 5%;
  }

  .AImage1 {
    font-size: 27px;
    font-weight: 700;
    color: white;
    padding-top: 20%;
    text-align: center;
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 5%;
    background-image: url(images/poe300.jpg);
    height: 300px;
  }

  .AImage2 {
    font-size: 27px;
    font-weight: 700;
    color: white;
    padding-top: 20%;
    text-align: center;
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 5%;
    background-image: url(images/fortuna300.jpg);
    height: 300px;
  }

  .SubText {
    font-size: 15px;
    font-weight: 200px;
  }

  .ANavBottom {
    color: white;
    font-size: 13px;
  }

  #AFooterTop {
    display: none;
  }

  #MobileAFooterTop {
    padding-top: 3%;
    padding-bottom: 2%;
    background-color: rgba(53, 53, 53, 1);
  }

  .ABLogo {
    padding-top: 5vw;
  }

  .Ninjas {
    padding-top: 5vw;
  }

  a {
    color: orangered !important;
  }

  a:link {
    color: orangered;
    text-decoration: none;
  }

  #FooterTop {
    display: none;
  }

  #FooterBottom {
    display: none;
  }

  .Judge {
    margin-top: 2% !important;
  }
}

@media (max-width: 767px) {
  .Change3 {
    transform: rotate(-45deg);
    margin-top: -13px;
  }
}

@media (max-width: 574px) {
  .Desc {
    font-size: 11px;
    font-weight: 600;
  }

  .Judge {
    margin-top: 2% !important;
  }

  .AImage1 {
    font-size: 27px;
    font-weight: 700;
    color: white;
    padding-top: 110px;
    text-align: center;
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 5%;
    background-image: url(images/poe300.jpg);
    height: 300px;
  }

  .AImage2 {
    font-size: 27px;
    font-weight: 700;
    color: white;
    padding-top: 110px;
    text-align: center;
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 5%;
    background-image: url(images/fortuna300.jpg);
    height: 300px;
  }
}
