@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nosifer&display=swap');

* {
  /* border: solid 1px gray; */
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

ul {
  list-style: none;
}

.socials {
  height: 30px;
}

.NavTop {
  background-color: rgba(53, 53, 53, 0.8);
  color: white;
}

#FirstPage {
  background-image: url(images/HeaderBackroundblured.jpg);
}

.Call {
  padding-top: 10%;
  font-size: 35px;
  line-height: 100%;
  margin: 0;
  color: #ec5242;
}

.IntroText {
  padding-top: 1.5%;
  line-height: 100%;
  background: url(images/HeaderBackround.jpg) center no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px gray;
  background-clip: text;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
}

.Reflect {
  padding-top: 3%;
  font-size: 14px;
  line-height: 100%;
  margin: 0;
  color: #ec5242;
}

.Date {
  padding-top: 4%;
  font-size: 28px;
  line-height: 100%;
  margin: 0;
  color: #ec5242;
}

.Host {
  padding-top: 1%;
  padding-bottom: 10%;
  font-size: 24px;
  line-height: 100%;
  margin: 0;
  color: #ec5242;
}

#Judgements {
  margin-top: -15px;
  background-image: url(images/Repeat.jpg);
}

.Judge {
  margin-left: 5px;
  background-color: rgba(53, 53, 53, 0.6);
  color: white;
}
.Aspects {
  padding-top: 2%;
  margin-bottom: 2%;
  font-size: 24px;
  color: white;
}

.Planned {
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
}

.Image {
  padding-bottom: 3%;
}

.Platform {
  padding-left: 5%;
  font-size: 20px;
  color: white;
}

.Console {
  width: 50px;
  height: 80px;
  padding-bottom: 5%;
}

#FooterTop {
  background-color: rgba(53, 53, 53, 1);
}

.Missions li :hover {
  border: solid 2px white;
}